css
.nav-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar li {
  margin-left: 20px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}
.spacer {
  flex: 1 1 auto;
}